<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>影像库</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/new_index.css">
    <style type="text/css">
        .img{
            width: 8%;
            margin: 5px;
        }
    </style>
</head>


<body>
    <div class="main">
        <div class="nav">影像库</div>
        <div class="nav_btn">
            <div class="btn_left">
                <button style="font-size: 1.2vw;line-height: 40PX;left: -5px;width: 122px;" onclick="window.location.href='http://127.0.0.1:5000/数据查询统计分析模块'">返回</button>
                <button class="active" style="font-size: 1.2vw;line-height: 40PX;left: 6px;" onclick="window.location.href='http://127.0.0.1:5000/数据查询统计分析模块/图片数据库'">影像库</button>
                <button style="font-size: 1.2vw;line-height: 40PX;left: 18px;width: 122px;" onclick="window.location.href='http://127.0.0.1:5000/数据查询统计分析模块/模型预测'">模型预测</button>
            </div>
        </div>

        <div class="content" style="display: block;margin-top: 1%;margin-left: 3%;overflow-y:scroll">
                <img src="../static/img2/anshu1.jpg" class="img"/>
                <img src="../static/img2/anshu2.jpg" class="img"/>
                <img src="../static/img2/anshu3.jpg" class="img"/>
                <img src="../static/img2/anshu4.jpg" class="img"/>
                <img src="../static/img2/anshu5.jpg" class="img"/>
                <img src="../static/img2/anshu6.jpg" class="img"/>
                <img src="../static/img2/anshu7.jpg" class="img"/>
                <img src="../static/img2/anshu8.jpg" class="img"/>
                <img src="../static/img2/anshu9.jpg" class="img"/>
                <img src="../static/img2/anshu10.jpg" class="img"/>
                <img src="../static/img2/anshu11.jpg" class="img"/>

                <img src="../static/img2/anshu12.jpg" class="img"/>
                <img src="../static/img2/anshu13.jpg" class="img"/>
                <img src="../static/img2/anshu14.jpg" class="img"/>
                <img src="../static/img2/anshu15.jpg" class="img"/>
                <img src="../static/img2/anshu16.jpg" class="img"/>
                <img src="../static/img2/anshu17.jpg" class="img"/>
                <img src="../static/img2/anshu18.jpg" class="img"/>
                <img src="../static/img2/anshu19.jpg" class="img"/>
                <img src="../static/img2/anshu20.jpg" class="img"/>
                <img src="../static/img2/anshu21.jpg" class="img"/>
                <img src="../static/img2/anshu22.jpg" class="img"/>

                <img src="../static/img2/anshu23.jpg" class="img"/>
                <img src="../static/img2/anshu24.jpg" class="img"/>
                <img src="../static/img2/anshu25.jpg" class="img"/>
                <img src="../static/img2/anshu26.jpg" class="img"/>
                <img src="../static/img2/anshu27.jpg" class="img"/>
                <img src="../static/img2/anshu28.jpg" class="img"/>
                <img src="../static/img2/anshu29.jpg" class="img"/>
                <img src="../static/img2/anshu30.jpg" class="img"/>
                <img src="../static/img2/anshu31.jpg" class="img"/>
                <img src="../static/img2/anshu32.jpg" class="img"/>
                <img src="../static/img2/anshu33.jpg" class="img"/>

                <img src="../static/img2/anshu34.jpg" class="img"/>
                <img src="../static/img2/anshu35.jpg" class="img"/>
                <img src="../static/img2/anshu36.jpg" class="img"/>
                <img src="../static/img2/anshu37.jpg" class="img"/>
                <img src="../static/img2/anshu38.jpg" class="img"/>
                <img src="../static/img2/anshu39.jpg" class="img"/>
                <img src="../static/img2/anshu40.jpg" class="img"/>
                <img src="../static/img2/anshu41.jpg" class="img"/>
                <img src="../static/img2/anshu42.jpg" class="img"/>
                <img src="../static/img2/anshu43.jpg" class="img"/>
                <img src="../static/img2/anshu44.jpg" class="img"/>

                <img src="../static/img2/anshu45.jpg" class="img"/>
                <img src="../static/img2/anshu46.jpg" class="img"/>
                <img src="../static/img2/anshu47.jpg" class="img"/>
                <img src="../static/img2/anshu48.jpg" class="img"/>
                <img src="../static/img2/anshu49.jpg" class="img"/>
                <img src="../static/img2/anshu50.jpg" class="img"/>
                <img src="../static/img2/anshu51.jpg" class="img"/>
                <img src="../static/img2/anshu52.jpg" class="img"/>
                <img src="../static/img2/anshu53.jpg" class="img"/>
                <img src="../static/img2/anshu54.jpg" class="img"/>
                <img src="../static/img2/anshu55.jpg" class="img"/>

                <img src="../static/img2/anshu56.jpg" class="img"/>
                <img src="../static/img2/anshu57.jpg" class="img"/>
                <img src="../static/img2/anshu58.jpg" class="img"/>
                <img src="../static/img2/anshu59.jpg" class="img"/>
                <img src="../static/img2/anshu60.jpg" class="img"/>
                <img src="../static/img2/anshu61.jpg" class="img"/>
                <img src="../static/img2/anshu62.jpg" class="img"/>
                <img src="../static/img2/anshu63.jpg" class="img"/>
                <img src="../static/img2/anshu64.jpg" class="img"/>
                <img src="../static/img2/anshu65.jpg" class="img"/>
                <img src="../static/img2/anshu66.jpg" class="img"/>

                <img src="../static/img2/anshu67.jpg" class="img"/>
                <img src="../static/img2/anshu68.jpg" class="img"/>
                <img src="../static/img2/anshu69.jpg" class="img"/>
                <img src="../static/img2/anshu70.jpg" class="img"/>
                <img src="../static/img2/anshu71.jpg" class="img"/>
                <img src="../static/img2/anshu72.jpg" class="img"/>
                <img src="../static/img2/anshu73.jpg" class="img"/>
                <img src="../static/img2/anshu74.jpg" class="img"/>
                <img src="../static/img2/anshu75.jpg" class="img"/>
                <img src="../static/img2/anshu76.jpg" class="img"/>
                <img src="../static/img2/anshu77.jpg" class="img"/>

                <img src="../static/img2/anshu78.jpg" class="img"/>
                <img src="../static/img2/anshu79.jpg" class="img"/>
                <img src="../static/img2/anshu80.jpg" class="img"/>
                <img src="../static/img2/anshu81.jpg" class="img"/>
                <img src="../static/img2/anshu82.jpg" class="img"/>
                <img src="../static/img2/anshu83.jpg" class="img"/>
                <img src="../static/img2/anshu84.jpg" class="img"/>
                <img src="../static/img2/anshu85.jpg" class="img"/>
                <img src="../static/img2/anshu86.jpg" class="img"/>
                <img src="../static/img2/anshu87.jpg" class="img"/>
                <img src="../static/img2/anshu88.jpg" class="img"/>

                <img src="../static/img2/anshu89.jpg" class="img"/>
                <img src="../static/img2/anshu90.jpg" class="img"/>
                <img src="../static/img2/anshu91.jpg" class="img"/>
                <img src="../static/img2/anshu92.jpg" class="img"/>
                <img src="../static/img2/anshu93.jpg" class="img"/>
                <img src="../static/img2/anshu94.jpg" class="img"/>
                <img src="../static/img2/anshu95.jpg" class="img"/>
                <img src="../static/img2/anshu96.jpg" class="img"/>
                <img src="../static/img2/anshu97.jpg" class="img"/>
                <img src="../static/img2/anshu98.jpg" class="img"/>
                <img src="../static/img2/anshu99.jpg" class="img"/>

                <img src="../static/img2/anshu1.jpg" class="img"/>
                <img src="../static/img2/anshu2.jpg" class="img"/>
                <img src="../static/img2/anshu3.jpg" class="img"/>
                <img src="../static/img2/anshu4.jpg" class="img"/>
                <img src="../static/img2/anshu5.jpg" class="img"/>
                <img src="../static/img2/anshu6.jpg" class="img"/>
                <img src="../static/img2/anshu7.jpg" class="img"/>
                <img src="../static/img2/anshu8.jpg" class="img"/>
                <img src="../static/img2/anshu9.jpg" class="img"/>
                <img src="../static/img2/anshu10.jpg" class="img"/>
                <img src="../static/img2/anshu11.jpg" class="img"/>

                <img src="../static/img2/anshu12.jpg" class="img"/>
                <img src="../static/img2/anshu13.jpg" class="img"/>
                <img src="../static/img2/anshu14.jpg" class="img"/>
                <img src="../static/img2/anshu15.jpg" class="img"/>
                <img src="../static/img2/anshu16.jpg" class="img"/>
                <img src="../static/img2/anshu17.jpg" class="img"/>
                <img src="../static/img2/anshu18.jpg" class="img"/>
                <img src="../static/img2/anshu19.jpg" class="img"/>
                <img src="../static/img2/anshu20.jpg" class="img"/>
                <img src="../static/img2/anshu21.jpg" class="img"/>
                <img src="../static/img2/anshu22.jpg" class="img"/>

                <img src="../static/img2/anshu23.jpg" class="img"/>
                <img src="../static/img2/anshu24.jpg" class="img"/>
                <img src="../static/img2/anshu25.jpg" class="img"/>
                <img src="../static/img2/anshu26.jpg" class="img"/>
                <img src="../static/img2/anshu27.jpg" class="img"/>
                <img src="../static/img2/anshu28.jpg" class="img"/>
                <img src="../static/img2/anshu29.jpg" class="img"/>
                <img src="../static/img2/anshu30.jpg" class="img"/>
                <img src="../static/img2/anshu31.jpg" class="img"/>
                <img src="../static/img2/anshu32.jpg" class="img"/>
                <img src="../static/img2/anshu33.jpg" class="img"/>

                <img src="../static/img2/anshu34.jpg" class="img"/>
                <img src="../static/img2/anshu35.jpg" class="img"/>
                <img src="../static/img2/anshu36.jpg" class="img"/>
                <img src="../static/img2/anshu37.jpg" class="img"/>
                <img src="../static/img2/anshu38.jpg" class="img"/>
                <img src="../static/img2/anshu39.jpg" class="img"/>
                <img src="../static/img2/anshu40.jpg" class="img"/>
                <img src="../static/img2/anshu41.jpg" class="img"/>
                <img src="../static/img2/anshu42.jpg" class="img"/>
                <img src="../static/img2/anshu43.jpg" class="img"/>
                <img src="../static/img2/anshu44.jpg" class="img"/>

                <img src="../static/img2/anshu45.jpg" class="img"/>
                <img src="../static/img2/anshu46.jpg" class="img"/>
                <img src="../static/img2/anshu47.jpg" class="img"/>
                <img src="../static/img2/anshu48.jpg" class="img"/>
                <img src="../static/img2/anshu49.jpg" class="img"/>
                <img src="../static/img2/anshu50.jpg" class="img"/>
                <img src="../static/img2/anshu51.jpg" class="img"/>
                <img src="../static/img2/anshu52.jpg" class="img"/>
                <img src="../static/img2/anshu53.jpg" class="img"/>
                <img src="../static/img2/anshu54.jpg" class="img"/>
                <img src="../static/img2/anshu55.jpg" class="img"/>

                <img src="../static/img2/anshu56.jpg" class="img"/>
                <img src="../static/img2/anshu57.jpg" class="img"/>
                <img src="../static/img2/anshu58.jpg" class="img"/>
                <img src="../static/img2/anshu59.jpg" class="img"/>
                <img src="../static/img2/anshu60.jpg" class="img"/>
                <img src="../static/img2/anshu61.jpg" class="img"/>
                <img src="../static/img2/anshu62.jpg" class="img"/>
                <img src="../static/img2/anshu63.jpg" class="img"/>
                <img src="../static/img2/anshu64.jpg" class="img"/>
                <img src="../static/img2/anshu65.jpg" class="img"/>
                <img src="../static/img2/anshu66.jpg" class="img"/>

                <img src="../static/img2/anshu67.jpg" class="img"/>
                <img src="../static/img2/anshu68.jpg" class="img"/>
                <img src="../static/img2/anshu69.jpg" class="img"/>
                <img src="../static/img2/anshu70.jpg" class="img"/>
                <img src="../static/img2/anshu71.jpg" class="img"/>
                <img src="../static/img2/anshu72.jpg" class="img"/>
                <img src="../static/img2/anshu73.jpg" class="img"/>
                <img src="../static/img2/anshu74.jpg" class="img"/>
                <img src="../static/img2/anshu75.jpg" class="img"/>
                <img src="../static/img2/anshu76.jpg" class="img"/>
                <img src="../static/img2/anshu77.jpg" class="img"/>

                <img src="../static/img2/anshu78.jpg" class="img"/>
                <img src="../static/img2/anshu79.jpg" class="img"/>
                <img src="../static/img2/anshu80.jpg" class="img"/>
                <img src="../static/img2/anshu81.jpg" class="img"/>
                <img src="../static/img2/anshu82.jpg" class="img"/>
                <img src="../static/img2/anshu83.jpg" class="img"/>
                <img src="../static/img2/anshu84.jpg" class="img"/>
                <img src="../static/img2/anshu85.jpg" class="img"/>
                <img src="../static/img2/anshu86.jpg" class="img"/>
                <img src="../static/img2/anshu87.jpg" class="img"/>
                <img src="../static/img2/anshu88.jpg" class="img"/>

                <img src="../static/img2/anshu89.jpg" class="img"/>
                <img src="../static/img2/anshu90.jpg" class="img"/>
                <img src="../static/img2/anshu91.jpg" class="img"/>
                <img src="../static/img2/anshu92.jpg" class="img"/>
                <img src="../static/img2/anshu93.jpg" class="img"/>
                <img src="../static/img2/anshu94.jpg" class="img"/>
                <img src="../static/img2/anshu95.jpg" class="img"/>
                <img src="../static/img2/anshu96.jpg" class="img"/>
                <img src="../static/img2/anshu97.jpg" class="img"/>
                <img src="../static/img2/anshu98.jpg" class="img"/>
                <img src="../static/img2/anshu99.jpg" class="img"/>

                <img src="../static/img2/anshu1.jpg" class="img"/>
                <img src="../static/img2/anshu2.jpg" class="img"/>
                <img src="../static/img2/anshu3.jpg" class="img"/>
                <img src="../static/img2/anshu4.jpg" class="img"/>
                <img src="../static/img2/anshu5.jpg" class="img"/>
                <img src="../static/img2/anshu6.jpg" class="img"/>
                <img src="../static/img2/anshu7.jpg" class="img"/>
                <img src="../static/img2/anshu8.jpg" class="img"/>
                <img src="../static/img2/anshu9.jpg" class="img"/>
                <img src="../static/img2/anshu10.jpg" class="img"/>
                <img src="../static/img2/anshu11.jpg" class="img"/>

                <img src="../static/img2/anshu12.jpg" class="img"/>
                <img src="../static/img2/anshu13.jpg" class="img"/>
                <img src="../static/img2/anshu14.jpg" class="img"/>
                <img src="../static/img2/anshu15.jpg" class="img"/>
                <img src="../static/img2/anshu16.jpg" class="img"/>
                <img src="../static/img2/anshu17.jpg" class="img"/>
                <img src="../static/img2/anshu18.jpg" class="img"/>
                <img src="../static/img2/anshu19.jpg" class="img"/>
                <img src="../static/img2/anshu20.jpg" class="img"/>
                <img src="../static/img2/anshu21.jpg" class="img"/>
                <img src="../static/img2/anshu22.jpg" class="img"/>

                <img src="../static/img2/anshu23.jpg" class="img"/>
                <img src="../static/img2/anshu24.jpg" class="img"/>
                <img src="../static/img2/anshu25.jpg" class="img"/>
                <img src="../static/img2/anshu26.jpg" class="img"/>
                <img src="../static/img2/anshu27.jpg" class="img"/>
                <img src="../static/img2/anshu28.jpg" class="img"/>
                <img src="../static/img2/anshu29.jpg" class="img"/>
                <img src="../static/img2/anshu30.jpg" class="img"/>
                <img src="../static/img2/anshu31.jpg" class="img"/>
                <img src="../static/img2/anshu32.jpg" class="img"/>
                <img src="../static/img2/anshu33.jpg" class="img"/>

                <img src="../static/img2/anshu34.jpg" class="img"/>
                <img src="../static/img2/anshu35.jpg" class="img"/>
                <img src="../static/img2/anshu36.jpg" class="img"/>
                <img src="../static/img2/anshu37.jpg" class="img"/>
                <img src="../static/img2/anshu38.jpg" class="img"/>
                <img src="../static/img2/anshu39.jpg" class="img"/>
                <img src="../static/img2/anshu40.jpg" class="img"/>
                <img src="../static/img2/anshu41.jpg" class="img"/>
                <img src="../static/img2/anshu42.jpg" class="img"/>
                <img src="../static/img2/anshu43.jpg" class="img"/>
                <img src="../static/img2/anshu44.jpg" class="img"/>

                <img src="../static/img2/anshu45.jpg" class="img"/>
                <img src="../static/img2/anshu46.jpg" class="img"/>
                <img src="../static/img2/anshu47.jpg" class="img"/>
                <img src="../static/img2/anshu48.jpg" class="img"/>
                <img src="../static/img2/anshu49.jpg" class="img"/>
                <img src="../static/img2/anshu50.jpg" class="img"/>
                <img src="../static/img2/anshu51.jpg" class="img"/>
                <img src="../static/img2/anshu52.jpg" class="img"/>
                <img src="../static/img2/anshu53.jpg" class="img"/>
                <img src="../static/img2/anshu54.jpg" class="img"/>
                <img src="../static/img2/anshu55.jpg" class="img"/>

                <img src="../static/img2/anshu56.jpg" class="img"/>
                <img src="../static/img2/anshu57.jpg" class="img"/>
                <img src="../static/img2/anshu58.jpg" class="img"/>
                <img src="../static/img2/anshu59.jpg" class="img"/>
                <img src="../static/img2/anshu60.jpg" class="img"/>
                <img src="../static/img2/anshu61.jpg" class="img"/>
                <img src="../static/img2/anshu62.jpg" class="img"/>
                <img src="../static/img2/anshu63.jpg" class="img"/>
                <img src="../static/img2/anshu64.jpg" class="img"/>
                <img src="../static/img2/anshu65.jpg" class="img"/>
                <img src="../static/img2/anshu66.jpg" class="img"/>

                <img src="../static/img2/anshu67.jpg" class="img"/>
                <img src="../static/img2/anshu68.jpg" class="img"/>
                <img src="../static/img2/anshu69.jpg" class="img"/>
                <img src="../static/img2/anshu70.jpg" class="img"/>
                <img src="../static/img2/anshu71.jpg" class="img"/>
                <img src="../static/img2/anshu72.jpg" class="img"/>
                <img src="../static/img2/anshu73.jpg" class="img"/>
                <img src="../static/img2/anshu74.jpg" class="img"/>
                <img src="../static/img2/anshu75.jpg" class="img"/>
                <img src="../static/img2/anshu76.jpg" class="img"/>
                <img src="../static/img2/anshu77.jpg" class="img"/>

                <img src="../static/img2/anshu78.jpg" class="img"/>
                <img src="../static/img2/anshu79.jpg" class="img"/>
                <img src="../static/img2/anshu80.jpg" class="img"/>
                <img src="../static/img2/anshu81.jpg" class="img"/>
                <img src="../static/img2/anshu82.jpg" class="img"/>
                <img src="../static/img2/anshu83.jpg" class="img"/>
                <img src="../static/img2/anshu84.jpg" class="img"/>
                <img src="../static/img2/anshu85.jpg" class="img"/>
                <img src="../static/img2/anshu86.jpg" class="img"/>
                <img src="../static/img2/anshu87.jpg" class="img"/>
                <img src="../static/img2/anshu88.jpg" class="img"/>

                <img src="../static/img2/anshu89.jpg" class="img"/>
                <img src="../static/img2/anshu90.jpg" class="img"/>
                <img src="../static/img2/anshu91.jpg" class="img"/>
                <img src="../static/img2/anshu92.jpg" class="img"/>
                <img src="../static/img2/anshu93.jpg" class="img"/>
                <img src="../static/img2/anshu94.jpg" class="img"/>
                <img src="../static/img2/anshu95.jpg" class="img"/>
                <img src="../static/img2/anshu96.jpg" class="img"/>
                <img src="../static/img2/anshu97.jpg" class="img"/>
                <img src="../static/img2/anshu98.jpg" class="img"/>
                <img src="../static/img2/anshu99.jpg" class="img"/>
        </div>

    </div>
</body>
<script src="../static/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/layer/3.1.1/layer.js"></script>
<script>
    var imgs = $("img");
    imgs.click(function(){
        var that = this;
        layer.photos({
            photos:{
                start:imgs.index(that),//当前元素索引
                data:imgs,
            },
            anim:5,
            closeBtn: "1",
            success: function() {
                //以鼠标位置为中心的图片滚动放大缩小
                $(document).on("mousewheel",".layui-layer-photos",function(ev){
                    
                    var oImg = this;
                    var ev = event || window.event;//返回WheelEvent
                    //ev.preventDefault();
                    var delta = ev.detail ? ev.detail > 0 : ev.wheelDelta < 0;
                    var ratioL = (ev.clientX - oImg.offsetLeft) / oImg.offsetWidth,
                        ratioT = (ev.clientY - oImg.offsetTop) / oImg.offsetHeight,
                        ratioDelta = !delta ? 1 + 0.1 : 1 - 0.1,
                        w = parseInt(oImg.offsetWidth * ratioDelta),
                        h = parseInt(oImg.offsetHeight * ratioDelta),
                        l = Math.round(ev.clientX - (w * ratioL)),
                        t = Math.round(ev.clientY - (h * ratioT));
                    $(".layui-layer-photos").css({
                        width: w, height: h
                        ,left: l, top: t
                    });
                    $("#layui-layer-photos").css({width: w, height: h});
                    $("#layui-layer-photos>img").css({width: w, height: h});
                });
            },
            //销毁回调
            end: function(){ }
        });  
    });
</script>

</html>